@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;800&family=Lancelot&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;1,9..40,100&family=Heebo:wght@400;800&family=Lancelot&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0px;
}

.navbar {
  height: auto;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  z-index: 99;
}

.navbarAlt {
  height: auto;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: transparent;
  z-index: 99;
}

.navbarContent {
  max-width: 1296px;
  width: 86%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 127px auto 127px; */
  place-items: center;
}

.navbar button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding: 0px 0px 0px 0px;
}

.navbarAlt button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding: 0px 0px 0px 0px;
}

.navbar img, .footer img {
  object-fit: contain;
}

.navbarAlt img {
  object-fit: contain;
}

.navbarLogo img {
  width: 127px;
  height: 72px;
}

@media only screen and (max-width: 800px) {
  .navbarLogo img {
    width: 84px;
    height: 48px;
  }
}

.navbar nav {
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 800px) {
  .navbar nav, .navbarAlt nav {
    display: none;
    /* visibility: hidden; */
  }
}

.navbarAlt {
  display: flex;
  align-items: flex-start;
}

.navbar a {
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin: 0.5rem 0.75rem;
}

.navbarAlt a {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin: 0.5rem 0.75rem;
}

.navbarPopupButton img {
  display: flex;
  flex-direction: row;
  width: 36px;
  height: 36px;
  width: auto;
  object-position: right;
  justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
  .navbarPopupButton img {
    width: 24px;
    height: 24px;
  }
}

/* ------------------------------------------------------------------------------------------------------------- */

.footer {
  padding: 72px 0px;
  width: 100%;
  background: #F3F6F5;
  place-items: center;
}

.footerContent {
  max-width: 1296px;
  width: 86%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 206px;
  gap: 1.5rem;
}

@media only screen and (max-width: 800px) {
  .footerContent {
    grid-template-columns: 1fr;
    grid-template-rows: 206px 206px 206px;
  }
}

.footerTitle h1 {
  color: #222;
  font-family: 'Ubuntu', sans-serif; 
  font-weight: 300;
  line-height: normal;
  margin-top: 0.625rem;
  margin-bottom: 0px;
  font-size: 1.5rem;
  max-width: 80%;
}

.footerNav nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1.5rem;
}

.footerNav a {
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  width: fit-content;
}

.footerSocial {
  padding-top: 3rem;
  display: flex;
  gap: 1.5rem;
}

.archdaily {
  background-image: url("/Icons/ellipse.svg");
  background-repeat: no-repeat;
  background-size: auto;
}

.footerContact{
  display: flex;
  flex-direction: column;
}

.footerContact h1 {
  color: #222;
  font-family: 'Ubuntu', sans-serif; 
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0.5rem 0rem;
  max-width: 80%;
}